<form {{on "submit" this.findOrganization}}>
  <label for="organization">Organization Name</label>
  <input id='organization' placeholder="Write here..." value={{this.organization}} {{on "change" this.updateOrganizationName}}>
  <button type="submit">Search</button>
</form>
